# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old
.DS_Store

# building
target
build
test-output
.surefire-*
dependency-reduced-pom.xml

# Eclipse
.classpath
.project
.settings
*.jpage

# IDEA
*.iml
*.ipr
*.iws
.idea/*

