# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old
.DS_Store
myconfig*

# building
target
build
test-output
.surefire-*

# Eclipse
.classpath
.project
.settings
*.jpage

# IDEA
*.iml
*.ipr
*.iws
